.filter-container{
    margin: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter-btns{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-btns button{
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 0.3rem 1.1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.filter-btns button:hover{
    background: var(--filter-background-color);
}

.filter-btns .active {
    background: var(--filter-background-color);
}
